*{
  margin: 0;
  padding: 0;
}
.head-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(210, 40%, 98%);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  padding: .5rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 2.5rem;
}
.head-cont h1{
  margin-left: 5rem;
}
.head-cont h1:hover{
  text-shadow: 
  0 0 10px cyan,
   0 0 20px cyan,
   0 0 40px cyan,
   0 0 80px cyan;
}

.head-cont ul{
  display: flex;
  gap: 2rem;
  margin-right: 15rem;
}
.head-cont li{
  list-style: none;
}
.head-cont a{
  text-decoration: none;
  color: #7E7F7F;
  font-weight: bold;
}
.head-cont a:hover{
  color: black;
  font-size: 1.2rem;

}
.home-cont{
  text-align: center;
  padding-top: 3rem;
  min-height: 64vh;
  background-color: #EEEEEE;
}
.home-cont div{
  margin-top: 3rem;
}
.home-cont h6{
  font-size: 2rem;
  margin-bottom: 2rem;
  animation: slideFromTop 1s ease-out forwards;
  animation-delay: 0.2s;
}
.home-cont p{
  font-size: 2rem;
  animation: slideFromBottom 1s ease-out forwards;
  animation-delay: 0.6s;
}
.home-cont button{
  padding: 3px 6px;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  padding: .6rem;
  background-color: burlywood;
  transition: background-color 0.3s ease;
  animation: slideFromLeft 1s ease-out forwards;
  animation-delay: 0.8s;
}
.home-cont button:hover{
  color: chocolate;
  background-color: lightgray;

}
.foot-cont{
  background-color: #E0E0E0;
  padding: .5rem;
  border-top: dotted 1px #7E7F7F;
}
.foot-cont ul{
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 1rem;
}
.foot-cont li{
  list-style: none;
}
.foot-cont p{
  text-align: center;
  margin-top: 1rem;
}
.foot-cont a{
  text-decoration: none;
  color: #7E7F7F;
}
.foot-cont a:hover{
  color: black;
  text-decoration: underline blue;
  font-size: 1.5rem;
}
.foot-cont i{
  font-size: 2rem;
  border-radius: 50%;
  border: 1px #7E7F7F dotted;
  padding: 10px;
  color: black;
  transition: background-color 0.3s ease;
}
.foot-cont i:hover{
  color: chocolate;
  font-weight: bold;
  background-color: lightgray; 
}
.contact-b{
  padding-top: 5rem;
  height: 58vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 7rem;
}
.contact-b :nth-last-child(1) button{
  color: black;
  background-color: #84BA3F;
  border: none;
  padding: 10px;
  margin-top: 2rem;
}
.contact-b :nth-last-child(2) button{
  border: none;
  padding: 10px;
  color: black;
  font-weight: bold;
  background-color: #7FFFD4;
  margin-top: 2rem;
}
.contact-b :nth-last-child(2) span{
  margin-right: 5px;
}
.contact-b ul{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.contact-b li{
  font-size: 2rem;
}
.contact-b li i{
  color: #0add08;
}
.contact-b li{
  list-style-type: none;
}
.contact-b h2,ul,button,p{
  margin-bottom: 1rem;
}
.contact-b div:nth-child(2) p,input,button{
  margin-bottom: 1rem;

}
.project-b{
  padding-top: 5rem;
  background-color: #EEEEEE;
}
.proj1{
  text-align: center;
}
.proj1 h2{
  color: #007bff;
  font-size: 3rem;
}
.proj1 p{
  font-size: 1.5rem;
  font-weight: bold;
}
.proj2{
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.proj2 h2{
  color: #007bff;
}
.box-p{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  flex: 0 0 45%;
}
.box-p img{
  width: 100%;
}
.box-p ul li{
  list-style: none;
}
.tools{
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 5px 0;
  margin-top: 8px;
  border-top: 1px #7E7F7F dotted;
}
.box-p p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.tools li{
  display: inline-block;
  margin: 0 2.5rem;
  font-weight: bolder;
  font-size: 1.2rem;
}
.box-btn{
  display: flex;
  justify-content: space-between;
}
.box-btn button{
  padding: .7rem 5rem;
  font-weight: bold;
  font-size: 1rem;
}
.box-btn button:hover{
  color: white;
  background-color: black;
  font-weight: bold;
}
.box-btn div:first-child button{
  background-color: lightskyblue;
  border: none;
}
.box-btn div:first-child button:hover{
  background-color: black;
}
.about-b{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  gap: 3rem;
}
.about-t{
  background-color: #EEEEEE;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  width: 800px;
}
.about-t h4{
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.about-t p{
  margin-top: 20px;
  font-size: 1.3rem;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
}
.about-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}
.about-img img{
  width: 350px; 
  height: 460px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
.about-t button{
  margin: 10px auto;
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.about-t button:hover{
  background-color: black;
}
.about-t span{
  font-weight: bold;
}
.cont-no{
  display: flex;
  gap: 7px;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #868686;
  margin-top: 2rem;
}
.cont-no i{
  font-size: 2rem;
}

.contact-b p{
  color: #868686;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1.5rem;
  
}
.input-f input{
  border: 1px solid #6C6F72;
  height: 2.5rem;
  width: 50%;
  padding: 5px;
}
.input-f textarea{
  border: 1px solid #6C6F72;
  width: 52%;
  height: 8rem;
  padding: 5px;
}
.contact-b1{
  margin-top: 2rem;
}
.skill-cont{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}
.skill-cont div{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  text-align: center;
  flex: 0 0 10%;
  margin-bottom: 1rem;
}
.skill-cont div:hover{
  background-color: lightskyblue;
}
.skill-cont div i{
  font-size: 5rem;
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.skil-h{
  font-size: 2rem;
  color: lightslategray;
  text-align: center;
}